nav.main-nav {
	font-size: .8em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
  margin-top: 1.5em;
  text-align: center;
	>ul {
    list-style: none;
    padding: 0;
    li {
      margin: 0;
      a {
        display: inline-block;
        width: auto;
        height: 100%;
        padding: .3em 1em;
        transition: all .15s linear;
        border-bottom: none;
        color: $light-gray;
        border-radius: $base-border-radius;
        &:hover {
        	background: lighten($base-accent-color, 10);
        	color: $white;
        }
      }
    }
    li::first-of-type a {
      margin-left: 0;
      padding-left: 0!important;
    }
    li.current a {
      background: #FFF000;
    }
	}
}

@include media($medium-screen-up) {
	nav.main-nav {
    margin-top: 3em;
			ul {
				display: inline-block;
			li {
				display: inline-block;
				border: none;
			}
		}
	}
}