// This is a file with some example Sass to show how to route images and more someday maybe

#logo {
	text-align: center;
	margin: 0.8em auto 0;
}

.flexParent {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.flexGrow {
	flex: 1;
	display: flex;
	margin-bottom: 2em;
}

span.headerIcons {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
} 

section.section {
	margin: 1em 0;
	h4 {
		margin-bottom: 0.5em;
	}
}

.zocial {
	//font-family: "zocial", sans-serif;
}

.contact-links {
	display: inline-block;
	font-family: 'brandico', sans-serif;
	li, a {
	  display: inline-block;
	}

	li {
	  border-right: $base-border;
	  padding: 15px 25px;
	  cursor: pointer;
	  transition: all .15s linear;
	  float: left;
	  &:last-child {
	    border-right-color: transparent;
	  }
	  &:before {
	  	font-size: 24px;
	  	text-align: center;
    	color: #111;
	  }
	  &:hover {
	    background-color: lighten($base-accent-color, 10);
	    border-radius: $base-border-radius * 2;
      -webkit-border-radius: $base-border-radius * 2;
      -moz-border-radius: $base-border-radius * 2;
	    &:before {
	    	color: $white;
	    }
	  }
	
	  &:active {
	    background-color: darken($accent-color,10%);
	  }
	  
	}

}